
html {
    font-size: 62.5%;
    background-color:gray;
}

body {
    font-size: 2rem;
    text-align: center;
    margin: 5rem 10rem;
    color: white;

}

img {width: 25rem;
    border-radius: 20rem;
    box-shadow: 3px 3px red, -1em 0 .4em #ffff;
}

h1 {
    background-color: var(--bg-color);
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

li {
    width: 40%;
    list-style-type: none;
    text-transform: uppercase;
    border: solid;
    margin: 2rem;
    border-radius: 5rem;
    color: black;
}


.left {box-shadow: rgba(240, 46, 170, 0.4)  -5px -5px, rgba(240, 46, 170, 0.3) -10px -10px, rgba(240, 46, 170, 0.2) -15px -15px, rgba(240, 46, 170, 0.1) -20px -20px, rgba(240, 46, 170, 0.05) -25px -25px;
background-color: white;
}

.right {box-shadow: rgba(240, 46, 170, 0.4) 5px -5px, rgba(240, 46, 170, 0.3) 10px -10px, rgba(240, 46, 170, 0.2) 15px -15px, rgba(240, 46, 170, 0.1) 20px -20px, rgba(240, 46, 170, 0.05) 25px -25px;
background-color: white;
}

li:hover,
    li:focus {
        transform: scale(1.5);



}