html{
  font-size: 62.5%;
}

body{
  font-size: 1.5rem;
  width: 98%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: linen;
}

.header__title{
  font-size: 4rem;
  text-align: center;
  margin: 1rem 1rem;
  background-color: black;
  color: white;
  box-shadow: 5px 5px 5px burlywood;
}

.header__subtitle{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(239, 239, 239);
}

.header__title-subtitle-left,
  .header__title-subtitle-right{
      font-size: 3rem;
  }


.header__title-img{
  width: 10rem;
  border-radius: 50%;
}


.header__title-nav{
  background-color: rgba(239, 239, 239, 1);
}

.header__title-nav-ul{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0;
  background-color: rgb(239, 239, 239);
  margin-bottom: 0;
  align-items: center;
}

.header__title-nav-li{
 list-style-type: none;
 font-size: 1.3rem;
 width: calc(100% / 5);
 text-align: center;
 border: solid 1px;
 border-radius: 0;
 width: fit-content;
 font-size: 1.5rem;
}

.header__title-nav-li:hover,
  .header__title-nav-li:focus{
      background-color: burlywood;
}


.main__title-category{
  font-size: 2rem;
}

.main__container{
  
}

section{
  margin-top: 0;
  text-align: center;

}

h3{
  margin-top: 0;
  text-align: center;
  border: solid;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  
}

.main__container--title{
  background-color: black;
}

.main__title-category{
  background-color: rgb(239, 239, 239);
  border-radius: 20rem;
  padding: 0.5rem;
}

.main__container-profil{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
}


.profil__right-article img{
  width: 4rem;
}

.profil__right-article p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.profil__article-content-first{
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.coordonnees{
  margin-top: 1rem;
}

.profil__article-content-second{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: burlywood;
  grid-area: 1 / 2 / 2 / 3;
}

.profil__article-content-second img{
width: 10rem;
}

.profil__article-content-third{
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  background-color: burlywood;
  justify-content: space-around;

}

.profil__article-content-four{
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: space-around;

}

.profil__article-content-four p{
}

.profil__article-content-four img{
  width: 10rem;
}

.hide{
  display: none;
}

#link{width: 100%;
}


.table{
  display: inline-table;
  text-align: initial;
}



.centrei :last-of-type{
  list-style-type: none;
}

ul{
  padding-left: 0;
}

th{
  background-color: burlywood;
}

h4{
  text-decoration: underline;
  font-size: 2rem;
  margin: 1rem;
}

a{
  font-weight: bolder;
}
figcaption{
}

.framework{
  display: flex;
  justify-content: space-around;
}

.footer__title{
      background-color: rgb(239, 239, 239);
      padding: 0.5rem;
}

.softskill{
  display: flex;
  justify-content: space-evenly;
}

.softskill__left{
  width: 50%;
  text-align: left;
}

.softskill__right{
  width: 50%;
  text-align: left;
}

.footer__container-title{
  background-color: black;
}

#navtool{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: goldenrod;
  border-radius: 50%;
  cursor: pointer;
}
